body{

    background: linear-gradient(100deg, rgb(218, 19, 19) 50%, rgb(15, 15, 153) 50%);

}
h1{
    max-width: 300px; 
    margin: 0 auto;
    background-color: #dfac08;
    text-align: center;
    font-weight:bold;
    color: rgb(13, 15, 182);
}
.secao_contagem{
    background-color: #fbfdff; /* Cor de fundo do retângulo */
    padding: 20px; /* Espaçamento interno para os elementos dentro da seção */
    border: 5px solid #dfac08; /* Borda ao redor da seção, opcional */
    text-align: left; /* Alinhe o conteúdo à esquerda */
    max-width: 600px; /* Largura máxima da seção */
    margin: 0 auto; /* Centraliza a seção horizontalmente */
    padding-top: 90px; /* Espaçamento superior */
    padding-bottom: 90px; /* Espaçamento inferior */
}
input#inicio{
  
  width: 300px; /* Defina a largura desejada */
  border-radius: 20px; /* Define o arredondamento das bordas */
  background: linear-gradient(gray,white); /* Define o gradiente de cor */
  padding: 10px; /* Espaçamento interno para o conteúdo dentro da caixa */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2), 0 0 20px rgba(255, 0, 0, 0.5); /
  

}
#inicio {
  width: 100%;
  border: none;
  outline: none;
  background: transparent; /* Torna o fundo do input transparente */
}
input#fim{
  width: 300px; /* Defina a largura desejada */
  border-radius: 20px; /* Define o arredondamento das bordas */
  background: linear-gradient(gray,white); /* Define o gradiente de cor */
  padding: 10px; /* Espaçamento interno para o conteúdo dentro da caixa */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2), 0 0 20px rgba(255, 0, 0, 0.5); /

}
#fim{
  width: 100%;
  border: none;
  outline: none;
  background: transparent; /* Torna o fundo do input transparente */
}
input#passo{
  width: 300px; /* Defina a largura desejada */
  border-radius: 20px; /* Define o arredondamento das bordas */
  background: linear-gradient(gray,white); /* Define o gradiente de cor */
  padding: 10px; /* Espaçamento interno para o conteúdo dentro da caixa */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2), 0 0 20px rgba(255, 0, 0, 0.5); /

}
#passo{
  width: 100%;
  border: none;
  outline: none;
  background: transparent; /* Torna o fundo do input transparente */
}
hr {
    height: 4px; /* Altura da linha */
    background: red; /* Cor inicial */
    border: none; /* Remove a borda padrão */
    animation: colorShift 2s linear infinite alternate; /* Animação */
  }
  
  @keyframes colorShift {
    0% {
      background: red;
    }
    100% {
      background: blue;
    }
  }